@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f9fafb;
}

body.popup-body {
  width: 360px;
  height: 530px;
  overflow: hidden;
}

/* Delete the scrollbar */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
